@page
@model ContactModel
@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message de @Model.Author</h3>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Author:</strong> <a href="seba.inones@gmail.com">seba.inones@gmail.com</a><br />    
</address>
